.error-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(128, 128, 128, 0.419);
    backdrop-filter: blur(2px);
    position: fixed;
    inset: 0;
    min-height: 78dvh;
    width: 100dvw;

    .error-message{
        padding: 1em;
        background-color: white;
        box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.2);
        max-width: 520px;
    }

    p{
        text-align: center;
        margin-top: 1em;
    }
}
