<app-error-display
  *ngIf="errorMessage; else content"
  [errorMessage]="errorMessage"
></app-error-display>

<ng-template #content>
  <ng-container *ngIf="country$ | async as country; else loading">
    <section class="country-details">
      <div class="country-info">
        <app-title-component [title]="country.country" />
        <div class="stats">
          <app-stat-comp
            statText="Number of entries"
            [statNumber]="country.participations.length"
          ></app-stat-comp>
          <app-stat-comp
            statText="Total number of medals"
            [statNumber]="totalMedals"
          ></app-stat-comp>
          <app-stat-comp
            statText="Total number of athletes"
            [statNumber]="totalAthletes"
          ></app-stat-comp>
        </div>
        <app-country-line-graph [country]="country"></app-country-line-graph>
      </div>
      <button (click)="goBack()">Back</button>
    </section>
  </ng-container>
</ng-template>

<ng-template #loading>
  <p class="loading">Loading...</p>
</ng-template>
