@import "variables";

.country-details {
  // put this in a mixin
  max-width: 600px;
  margin: 1em auto;
  padding: 1em;

  .country-info {
    display: flex;
    flex-direction: column;
    gap: 1em;
    min-height: 70dvh;
  }

  button {
    margin-top: 1em;
    min-width: 2em;
    height: 2em;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0.75em;
    box-shadow: 1px -1px 4px #ffffff, 1px 1px 11px 3px #cbc9c959,
      -1px 2px 3px #cbc9c9;
    background: $primary;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    width: 100%;
  }
}

.loading {
  text-align: center;
  font-size: 2em;
  margin-top: 25%;
}
