// Flex center
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Text truncate
@mixin truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
