<main class="home-container">
  <app-title-component title="Olympic Games" />

  <app-error-display [errorMessage]="errorMessage"></app-error-display>

  <p class="loading" *ngIf="!(olympics$ | async) && !errorMessage">
    <em>Loading...</em>
  </p>

  <div class="stats" *ngIf="olympics$ | async as olympics">
    <div class="stats">
      <app-stat-comp
        statText="Number of countries"
        [statNumber]="getTotalCountries()"
      ></app-stat-comp>
      <app-stat-comp
        statText="Number of JO's"
        [statNumber]="getTotalCountries()"
      ></app-stat-comp>
    </div>
  </div>
  <app-pie-graph
    *ngIf="olympics$ | async as olympics"
    [data]="olympics"
  ></app-pie-graph>
</main>
