@import "variables";

.home-container {
  max-width: 600px;
  margin: 1em auto;
  h2 {
    background-color: $primary;
    padding: 0.25em;
    text-align: center;
    color: white;
    font-weight: 200;
    border-radius: 0.25em;
  }
}

.loading {
  text-align: center;
  font-size: 2em;
  margin-top: 25%;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 1, "opsz" 50;
}
