<main class="container">
  <h2>Olympic games app</h2>
  <div *ngIf="olympics$ | async as olympics">
    {{ olympics.length }} countries loaded

    <ul>
      <li *ngFor="let country of olympics">
        <strong>{{ country.country }}</strong
        ><br />
        Participations: {{ country.participations.length }}<br />
        Medals: {{ getTotalMedals(country) }}<br />
        Athletes: {{ getTotalAthletes(country) }}
      </li>
    </ul>
  </div>

  <app-error-display [errorMessage]="errorMessage"></app-error-display>

  <p *ngIf="!(olympics$ | async) && !errorMessage"><em>Loading...</em></p>

  <div style="display: block">
    <canvas
      baseChart
      [data]="barChartData"
      [options]="barChartOptions"
      chartType="bar"
    ></canvas>
  </div>
</main>
