<h2>Olympic games app</h2>
<hr />
<div *ngIf="olympics$ | async as olympics">
  {{ olympics.length }} countries loaded

  <ul>
    <li *ngFor="let country of olympics">
      <strong>{{ country.country }}</strong
      ><br />
      Participations: {{ country.participations.length }}<br />
      Medals: {{ getTotalMedals(country) }}<br />
      Athletes: {{ getTotalAthletes(country) }}
    </li>
  </ul>
</div>

<div *ngIf="errorMessage" class="error-message">⚠️ {{ errorMessage }}</div>

<p *ngIf="!(olympics$ | async) && !errorMessage"><em>Loading...</em></p>
