<div *ngIf="showDialog" class="modal" tabindex="-1" (click)="onCancel($event)">
  <div
    class="modal-dialog"
    [class.closing]="isClosing"
    [class.opening]="!isClosing && showDialog"
    (click)="$event.stopPropagation()"
  >
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">{{ title }}</h2>
        <button
          type="button"
          class="btn"
          aria-label="Close"
          (click)="onCancel($event)"
        >
          X
        </button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button
          (click)="onCancel($event)"
          type="button"
          class="btn btn-secondary"
        >
          Close
        </button>
        <button (click)="onConfirm()" type="button" class="btn btn-primary">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
